{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

    <section class="d-flex justify-content-center flex-column container" style="height: 50vh;">
        <h1 class="rainbow-text">
    
            <a href="{% url 'topic' topic.id %}" class="rainbow-text">{{ topic }}</a>

        </h1>

        <h3>
            Adicione uma nova anotação:
        </h3>

        <form action="{% url 'new_entry' topic.id %}" method='POST'>

            {% csrf_token %}

            {% bootstrap_form form %}

            <button name="submit" class="btn btn-primary">Adicionar</button>

        </form>

    </section>


{% endblock content %}

