{%  extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

    <section  class="d-flex justify-content-center align-items-center flex-column " style="height: 50vh;" >
        <h2>
            Adicione um novo tópico:
        </h2>

        <form action="{% url 'new_topic' %}" method='POST' class="form container ">

            {% csrf_token %}

            {% bootstrap_form form %}

            <button name="submit" class="btn btn-primary">Adicionar</button>

        </form>

    </section>

{% endblock content %}

