{% extends "learning_logs/base.html" %}

{% block content %}

    <p>Tópico: {{ topic }}</p>

    <p>Anotações: </p>  
    <p>
        <a href="{% url 'new_entry' topic.id %}">Adicionar uma nova anotação</a>
    </p>

    <ul>
        {% for  entry in entries %}

            <li>
                <p>{{ entry.data_added | date:'M d, Y H:i'}}</p>
                <p>{{ entry.text | linebreaks}}</p>
                
                <p><a href="{% url 'edit_entry' entry.id %}">Editar🖌️</a></p>

            </li>

            {% empty %}

            <li>Você ainda não adicionou nenhuma anotação</li>

        {% endfor %}
    </ul>

{% endblock content %}