{% extends "learning_logs/base.html" %}

{% block content %}

    <section class="d-flex flex-column gap-4 ms-4 mb-5 pb-4" >
        <div>
            <h1 class="rainbow-text">Tópico: {{ topic }}</h1>

            <h3>Anotações: </h3>  
            <div style="margin-bottom: 2rem;">
                <a href="{% url 'new_entry' topic.id %}" class="btn btn-secondary">Nova anotação</a>
            </div>
        </div>

        <div >
            <ul class="d-flex gap-4 flex-wrap">
                {% for  entry in entries %}

                    <li class="card" style="width: 18rem;">

                        <div class=" navbar-nav card-body">
                            <h5 class="card-subtitle mb-2 text-muted">{{ entry.data_added | date:'M d, Y H:i'}}</h5>
                            <p class="card-text">{{ entry.text | linebreaks}}</p>
                        
                            <a href="{% url 'edit_entry' entry.id %}" class="btn btn-secondary">Editar</a>
                        </div>

                    </li>

                    {% empty %}

                    <li>Você ainda não adicionou nenhuma anotação</li>

                {% endfor %}
            </ul>
        </div>

    </section>

{% endblock content %}