{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

    <section style="width: 100%; height: 100%;" class="d-flex justify-content-center align-items-center">
        {% if form.errors %}
            <p style="color: red;">Login ou senha incorretos</p>
        {% endif %}

        <form action="{% url 'login' %}" method="post" class="form container " style="width: 50%;">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
            <input type="hidden" name="next" value="{% url 'index' %}"/>
        </form>
        </section>

{% endblock content %}
