*{
  box-sizing: border-box;
}

.rainbow-text {
  font-weight: bold;
  background: linear-gradient(
    90deg, red, orange, yellow, green, blue, indigo, violet, red
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: flowColors 10s linear infinite;
}

@keyframes flowColors {
  0% { background-position: 0% }
  100% { background-position: 400% }
}
